## Every value has a type.

* Every value in a program has a specific type.
* Integer (`int`): represents positive or negative whole numbers like 3 or -512.
* Floating point number (`float`): represents real numbers like 3.14159 or -2.5.
* Character string (usually called "string", `str`): text.
    * Written in either single quotes or double quotes (as long as they match).
    * The quote marks aren't printed when the string is displayed.

## Use the built-in function `type` to find the type of a value.

* Use the built-in function `type` to find out what type a value has.
* Works on variables as well.
    * But remember: the *value* has the type --- the *variable* is just a label.

In [1]:
print(type(52))

<class 'int'>

In [2]:
fitness = 'average'
print(type(fitness))

<class 'str'>

## Types control what operations (or methods) can be performed on a given value.

* A value's type determines what the program can do to it.

In [3]:
print(5 - 3)

2

In [4]:
print('hello' - 'h')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## You can use the `+` and `*` operators on strings.

* "Adding" character strings concatenates them.

In [8]:
full_name = 'Ahmed' + ' ' + 'Walsh'
print(full_name)

Ahmed Walsh

* Multiplying a character string by an integer *N* creates a new string that consists of that character string repeated *N* times.
    * Since multiplication is repeated addition.

In [9]:
separator = '=' * 10
print(separator)

==========

## Strings have a length (but numbers don't).

* The built-in function `len` counts the number of characters in a string.

In [10]:
print(len(full_name))

11

* But numbers don't have a length (not even zero).

In [11]:
print(len(52))

TypeError: object of type 'int' has no len()

## Must convert numbers to strings or vice versa when operating on them.

* Cannot add numbers and strings.

In [12]:
print(1 + '2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

* Not allowed because it's ambiguous: should `1 + '2'` be `3` or `'12'`?
* Some types can be converted to other types by using the type name as a function.

In [13]:
print(1 + int('2'))
print(str(1) + '2')

3
12

## Can mix integers and floats freely in operations.

* Integers and floating-point numbers can be mixed in arithmetic.
    * Python 3 automatically converts integers to floats as needed. (Integer division in Python 2 will return an integer, the *floor* of the division.)

In [14]:
print('half is', 1 / 2.0)
print('three squared is', 3.0 ** 2)

half is 0.5
three squared is 9.0

## Variables only change value when something is assigned to them.

* If we make one cell in a spreadsheet depend on another, and update the latter, the former updates automatically.
* This does **not** happen in programming languages.

In [15]:
first = 1
second = 5 * first
first = 2
print('first is', first, 'and second is', second)

first is 2 and second is 5

* The computer reads the value of `first` when doing the multiplication, creates a new value, and assigns it to `second`.
* After that, `second` does not remember where it came from.

## Questions

#### Q1: Fractions

What type of value is 3.4? How can you find it?

#### [Answer](#answer_key)

#### Q2: Automativc Type Conversion

What type of vlaue is 3.25 + 4?

#### [Answer](#answer_key)

#### Q3: Choose a type

What type of (integer, floating point number, or character string) would you use to represent each of the following? Try to come up with more than one good answer for each problem. For example, in #1, when would counting days wioth a floating point variable make more senes than using an integer?

1. Number of days since the start of the year
2. Time ealpsed form the start of the year until now in days
3. Serial number of a piece of lab equipment
4. A lab specimen's age
5. Current population of a city
6. Average Population of a city over time

#### [Answer](#answer_key)

#### Q4: Division Types

In Pyhton 3, the `//` operator performs integer(whole-number) floor division, the `/` operator performs floating point division, and the `%` or (modulo) operator calulates and returns the remainder from integer division.

In [3]:
print('5 // 3:', 5//3)
print('5 / 3:', 5/3)
print('5 % 3:', 5&3)

5 // 3: 1
5 / 3: 1.6666666666666667
5 % 3: 1

However in Python2 (and other langauges), the `/` operator between two integer  types froms a floor (`//`) division. To perform a float division, we have ot convert one of the inetgers to float.

In [ ]:
print('5 // 3:', 1)
print('5 / 3:', 1 )
print('5 / float(3):', 1.6666667 )
print('float(5) / 3:', 1.6666667 )
print('float(5 / 3):', 1.0 )
print('5 % 3:', 2)

if `num_suibjects` is the number of subjects taking part in a study, and `num_per_survey` is the number that can take part in a single survey, write an expression that calulcates the number of surveys needed to reach everyone once.

#### [Answer](#answer_key)

#### Q5: Strings to Numbers

Where reasonable, `float()` will convert a string to afloating poeint number, and `int()` will convert a flaoting point number to an integer.

In [30]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

If the conversion does not make sense, however, an error message will occur

In [31]:
print("string to float:", float("Hello World!"))

ValueError: could not convert string to float: 'Hello World!'

Given this information, what do you expect the following program to do?
What does it actually do?
Why do you think it does that?

`print("fractional string to int:", int("3.4"))`

#### [Answer](#answer_key)

#### Q6: Arithmetic with Different Types

Which of the following will print 2.0? Note: there may be more than one right answer.

In [37]:
first = 1.0
second = "1"
third = "1.1"

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

#### [Answer](#answer_key)

#### Q7: Complex Numbers

Python Provides complex numbers, which are written as `1.0+2.0j`. If val is an imaginary number, its real and imaginary parts can be accessed using *dot notation* as `val.real` and `val.imag`.

1. Why do you think Python uses `j` insterad of `i` for the imaginary part?
2. What do you expect `1+2j + 3` to produce?
3. What do you expect `4j` to be? What about `4 j` or `4 + j`?

#### [Answer](#answer_key)

******
******
******
******
******
******
******
******
******
******
******
******
******

 ### <a id='answer_key'> Answers </a>

#### Q1: Fractions

It is a floating-point number (often abbreviated "float").

In [8]:
print(type(3.4))

<class 'float'>

#### Q2: Automatic Type Conversion

What type of value is 3.25 + 4?

It is a float.
Integers are automatically converted to floats as necessary.

In [10]:
result = 3.25 + 4
print(result, 'is', type(result))

7.25 is <class 'float'>

#### Q3: Choose a Type

1. Inetger, sicne the numebr of days would lie between 1 and 365.
2. Floating point, since the fractional dats are required.
3. Character string if serial number contains letters and numbers, otherwise integer if the serial number consists of only numerals
4. This will vary! How do you define a specimen's age? Whole days since collection (integer) data and time (string)
5. Choose floating point to represent population as large aggregates (eg. millions), or integer to preresent population in unties of individuals.
6. Floating point number, since an average is likely to have a fractional part.

#### Q4: Division Types

We want the minimum number of surveys that reaches everyone once, whoch is the rounded up value of `num_nubjects / num_per_survey`. 
This is equivalent to perfomring an integer division with `//` and adding 1.

In [20]:
num_subjects = 600
num_per_survey = 42
num_surveys = num_subjects // num_per_survey + 1

print(num_subjects, 'subjects,', num_per_survey, 'per survey:', num_surveys)

600 subjects, 42 per survey: 15

#### Q5: Strings to Numbers

It would be unreasonable to expect the Python 3 `in t` command to convert the string "3.4" to 3.4 and an additional type conversion to 3. After all, Python 3 performs a lot of other magic - sn't that part of its charm?

However, Python 3 throws an error. Whon to perfomr two why? To be consistent, possibly. If you ask Python to perform two conseccutive typecasts, you must convert it explicitly in code.

In [23]:
int("3.4")
int(float("3.4"))

In [2]: int("3.4")

ValueError: invalid literal for int() with base 10: '3.4'

#### Q6: Arithmetic with Different Types

Answer 1 and 4.

#### Q7: Complex Numbers

1. Standard mathematics treatments typically use `i` to denote an imaginary number. However, from media reports it was an early convention estab,.ished from electrical engineeering that now presents a technically epexsive area to change. 
2. `_4+2j_`
3. `_4j,` syntax error, depends on the value of `j_`